<% provide(:title, 'Home') %>
<%= render 'layouts/logo' %>
<div align="center">
<h1>Welcome to Prizm Payment Services complaint page.</h1>

<div class ="p1">
<p>Please authenticate yourself as a valid merchant by clicking the link below.</p>
</div>

<div align="center">
<%= link_to "Authenticate", '/merchant/new', class: "btn btn-large btn-primary" %>
</div>
</div>