<%= image_tag("logo.jpg", :alt => "Prizm Payments Services", :class => "style_image") %>

<div align="center">

<h1>Welcome to Prizm Payment Services complaint page.</h1>
<p>Please authenticate yourself as a valid merchant by clicking the link below.</p>

<div align="center">
<%= link_to "Authenticate", '/merchant/validate', class: "btn btn-large btn-primary" %>
</div>
</div>