<% provide(:title, 'Complaint Registration') %>
<%= render 'layouts/header' %>

<div align="center">

<h1>Complaint Registration</h1>
<p>Please enter valid details in the respective fields for submitting the ticket.</p>

<%= render 'layouts/form' %>

</div>