<%= image_tag("logo.jpg", :alt => "Prizm Payments Services", :class => "style_image") %>

<div align="center">

<h1>Complaint Submission Page</h1>
<p>Please submit your complaint in the box below.</p>

<%= render 'layouts/complaint' %>

</div>