<%= image_tag("logo.jpg", :alt => "Prizm Payments Services", :class => "style_image") %>

<div align="center">

<h1>Merchant Validation</h1>
<p>Please validate your TID and MID before submitting the ticket.</p>

<%= render 'layouts/form' %>

</div>