@import "bootstrap";

/*headers and texts*/

h1 {
font-size: 2.5em;
letter-spacing: -2px;
margin-top: 10px;
margin-bottom: 60px;
text-align: center;
position: inherit;

}

p {
font-size: 1.6em;
line-height: 1.7em;
text-align: center;
}

.p1 {
font-size: 1.6em;
line-height: 1.7em;
text-align: center;
margin-top: 220px;
}


header ul {
float: right;
list-style: none;
color: black;
font-size: 1.5em;
line-height: 1em;
}

.data {
font-size: 1.3em;
letter-spacing: -1px;
font-weight: bold;
line-height: 1.5em;

}

/*logo*/

.style_image {
float: left;
font-size: 1.7em;
color: red;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
line-height: 1;
}


/*label*/

.field_input {
font-weight: bold;
text-transform: uppercase;
}



/*footer*/

footer {
margin-top: 20px;
padding-top: 5px;
border-top: 1px solid #eaeaea;
color: black;
}

footer ul {
float: right;
list-style: none;
color: black;
font-size: 1.5em;
line-height: 1em;
}

/*flashes*/

.flash-failure {
font-weight: bold;
text-transform: uppercase;
color: red;
}

.flash-success {
font-weight: bold;
text-transform: uppercase;
color: green;
}
