<div align="center">

<%= form_for('merchant/ticket') do |f| %>



<%= f.label :complaint, class: "field_input" %>
<%= f.text_area :complaint , :style => "width:600px;" %>

<div align="center">

<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>

</div>
</div>

<p>Stretch the text area as per your needs.</p>
