<header class="navbar navbar-fixed-top">
<div class="navbar-inner">

<%= link_to image_tag("logo.jpg", :alt => "Prizm Payments Services", :class => "style_image"), 'http://www.prizmpayments.com/' %>
<nav>
<ul class="nav pull-right">
<li><%= link_to "Home", '/merchant/home' %></li>
</ul>
</nav>

</div>
</header>